<p><%= @restaurant.name %></p>
<p><%= image_tag @restaurant.image.url(:thumb) %> </p>
<p><%= @restaurant.description %></p>
<% @restaurant.reviews.each do |review| %>
  <div id='review'>
    Thoughts: <%= review.thoughts %>
    Rating: <%= review.rating %>
    <%= pluralize review.endorsements.count, 'endorsement' %>
    <%= link_to 'Endorse review', new_review_endorsement_path(review) %>
  </div>
<% end %>
